<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view  contentType="text/html">
  <h:head>
    <ui:insert name="header">
      <ui:include src="header.xhtml" />
    </ui:insert>
  </h:head>
  <h:body>
    <h:panelGrid cellspacing="0" cellpadding="0" styleClass="wrapper">
      <h:panelGrid columns="3" columnClasses="menu,tree,content">
        <p:panel cellspacing="0" cellpadding="0" styleClass="menu">
          <h:form id="menuForm">
            <h:link outcome="main">
              <h:graphicImage library="images" name="logo_color.png" styleClass="banner" alt="VOCS" />
            </h:link>
            <ui:insert name="menu">
              <ui:include src="menu.xhtml" />
            </ui:insert>
          </h:form>
        </p:panel>
        <h:panelGroup cellspacing="0" cellpadding="0" styleClass="tree">
        	<ui:insert name="tree" />
        </h:panelGroup>
        <h:panelGroup>
          <h:panelGrid cellspacing="0" cellpadding="0" styleClass="content">
            <ui:insert name="content" />
          </h:panelGrid>
          <ui:insert name="footer">
            <ui:include src="footer.xhtml" />
          </ui:insert>
        </h:panelGroup>
      </h:panelGrid>
    </h:panelGrid>
  </h:body>
</f:view>
</html>
