<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <p:menu model="#{applicationBean.menuModel}" style="width:198px" />
<!--    <p:menu>
        
       
            <p:menuitem value="External" url="http://www.primefaces.org" icon="ui-icon-home"/>
            <p:menuitem value="Internal" outcome="../pages/actions" icon="ui-icon-star"/>
    
    </p:menu> -->
 <!--  <h:form >
  	<p:menu toggleable="true"  style="width:198px" >
  		    <p:menuitem value="DashBoard" outcome="../pages/dashboard.xhtml" icon="ui-icon-home"/>
  		    
  		    <p:submenu label="System" >
  		    	<p:menuitem value="Main" outcome="../pages/main.xhtml" />
  		    	<p:menuitem value="Normalizer" outcome="../pages/normalizer" />
  		    </p:submenu>
            
    
  </p:menu>
  
  
  </h:form> -->
  
</ui:composition>
</html>