<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="../../templates/layout.xhtml">
  <ui:define name="content">
    <h:form prependId="false" id="growlForm">
      <p:growl id="growl" showDetail="false" />
    </h:form>
    
    <h3>Responsive</h3>
	<p:panelGrid columns="3" layout="grid">            
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	 
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	 
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	    <h:outputText value="Content" /> 
	</p:panelGrid>
    
  </ui:define>
</ui:composition>
</html>