<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/layout.xhtml">

  <ui:define name="content">
    <p:panel id="mainPanel" toggleable="true" toggleSpeed="250">
		
		
		<h3>Normalizer Define</h3>
<p:panelGrid style="margin-top:20px;width:100%;border:none;" >
    <p:row>
        <p:column style="font-weight: bold;">Name *  </p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
        <p:column style="font-weight: bold;">State *  </p:column>
 		<p:column style="font-weight: bold;"><p:inputText /></p:column>
        
 
    </p:row>
 
 	<p:row>
        <p:column style="font-weight: bold;">Description *  </p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
        <p:column style="font-weight: bold;">EffDate *	</p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
 
    </p:row>
 	
 	<p:row>
        <p:column style="font-weight: bold;">Category *	</p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
        <p:column style="font-weight: bold;">Type *	</p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
 
    </p:row>
    
    <p:row>
        <p:column style="font-weight: bold;">Exp Date *	</p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
 
    </p:row>
 
 	<p:row>
        <p:column style="font-weight: bold;">Input Field *	</p:column>
        <p:column colspan="3" style="font-weight: bold;"><p:inputText size="100" /></p:column>
 
    </p:row>
 
 	<p:row>
        <p:column style="font-weight: bold;">
        	<p:button  value="Add Child" onclick="alert('thangnh');">
			    <f:param name="productId" value="10" />
			</p:button>
		</p:column>
		<p:column colspan="3" style="font-weight: bold;">
			<p:panelGrid style="margin-top:20px;width:100%">
				<p:row >
					<p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Path/ChildPath</p:column>
			        <p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Filter</p:column>
			        <p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Action</p:column>
				
				
				</p:row>
				<p:row>
        			<p:column style="font-weight: bold;">Path/ChildPath</p:column>
			        <p:column style="font-weight: bold;">Filter</p:column>
			        <p:column style="font-weight: bold;">Action</p:column>
 
    			</p:row>
    
			</p:panelGrid>

		</p:column>
		
        
 
    </p:row>
    
    <p:row>
        <p:column style="font-weight: bold;">Default *	</p:column>
        <p:column style="font-weight: bold;"><p:inputText /></p:column>
 
    </p:row>
    
    <p:row>
        <p:column colspan="4" style="font-weight: bold;">
        	<p:button  value="Add Child" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
        	<p:button  value="Add Child 2" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
        	<p:button  value="Add Child 3" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
		</p:column>
 
    </p:row>
    
 
 	<p:row>
		<p:column colspan="4" style="font-weight: bold;">
			<p:panelGrid style="margin-top:20px">
				<p:row >
					<p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Value Name</p:column>
			        <p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Parameter Value</p:column>
			        <p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Compare Type</p:column>
					<p:column style="font-weight: bold;width:33%;background-color:#336699;color:#FFFFFF;">Action</p:column>
				
				</p:row>
				<p:row>
        			<p:column style="font-weight: bold;">Path/ChildPath</p:column>
			        <p:column style="font-weight: bold;">Filter</p:column>
			        <p:column style="font-weight: bold;">Action</p:column>
			        <p:column style="font-weight: bold;">Action</p:column>
 
    			</p:row>
    
			</p:panelGrid>

		</p:column>
		
        
 
    </p:row>
 
 
 	<p:row>
        <p:column colspan="4" style="font-weight: bold;align:right;">
        	<p:button  value="Add Child" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
        	<p:button  value="Add Child 2" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
        	<p:button  value="Add Child 3" style="margin-right:15px">
			    <f:param name="productId" value="10" />
			</p:button>
		</p:column>
 
    </p:row>
 
 
 
</p:panelGrid>
	
      <div id="media"></div>
    </p:panel>
    
  </ui:define>
</ui:composition>





</html>
